.wrapper {
  margin: 0 auto;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  font-size: 11px;
}


/* Include the padding and border in an element's total width and height */

* {
  box-sizing: border-box;
}
